# Example .env.development, meant to be updated.
SECRET_KEY_BASE=12e2591438ece7032dce04674ed8bbc8d2a5a8dbf7b154b02f09c80b498c59baefc084b09dc2f6c3db63ccaae253578fe1eca2d563261468dce6b9590b54e8f6
ACCESS_KEY=xxxxx
SECRET_ACCESS_KEY=xxxxx
REGION=xxxx
EP_URL_DYNAMO_DB=http://localhost:8000 | https://dynamodb.us-west-2.amazonaws.com